
.idea/.name

*.xml

*.iml

bootstrap-3.3.6-dist/css/bootstrap-theme.css

*.map

bootstrap-3.3.6-dist/css/bootstrap-theme.min.css

bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.eot

*.svg

bootstrap-3.3.6-dist/css/bootstrap.min.css

bootstrap-3.3.6-dist/css/bootstrap.css

bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.ttf

bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.woff

bootstrap-3.3.6-dist/fonts/glyphicons-halflings-regular.woff2
